@model Web_Client.Models.Candidate

<div class="col-sm">
        <div class="card" style="align-items: center;">           
            <div class="card-body">
                <h5 class="card-title">@Model.Nomor_urut</h5>
                @if (Model.Foto != null)
                {
                    string img64 = Convert.ToBase64String(Model.Foto);
                    string src = string.Format("data:image/jpg;base64,{0}", img64);
                    <img class="figure-img img-responsive img-rounded" src="@src" width="180" height="180" />
                }
                else
                {
                    <img class="figure-img img-responsive img-rounded" src="" width="180" height="180" />
                }
                <br />
                <h4 class="card-title">@Model.Nama</h4>
            </div>
        </div>
 </div>    

