@model Web_Client.Models.Candidate

<div class="col-sm">
        <div class="card" style="align-items: center;">           
            <div class="card-body">
                <h5 class="card-title">@Model.Nomor_urut</h5>
                <h4 class="card-title">@Model.Nama</h4>
            </div>
        </div>
 </div>    

