@model IEnumerable<Web_Client.Models.Candidate>
@{
    ViewBag.Title = "Welcome - PilkaBem 2018";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}


@if (Session["ID"] != null)
{
<div class="jumbotron jumbotron-fluid" style="min-height: 450px;">
    <div class="container" style="align-items: center; text-align:center;">
        <br />
        <h3 style="color: ghostwhite;">Pilih calon ketuamu!</h3>
        <br />
        <div class="row">
            @if (TempData["Msg"] != null)
            {
                <h4>@TempData["Msg"]</h4>
            }
            else
            {
                @foreach (var x in Model)
                {
                    @Html.Partial("_CandidateVote", x)
                }
            }           
        </div>
        <br />
    </div>
</div>
<hr />
<h3>Profil Kandidat</h3>
   foreach (var x in Model)
   {
    @Html.Partial("_CandidateProfile", x)
   }
}
else
{
    <h2>Illegal Login attempt!</h2>
}

    

